<%- include('layouts/header.ejs'); -%>
    <script src="./js/chat.js"></script>
    <div class="wrapper">
        <section class="chat-area">
            <header>
                <a href="./" class="back-icon"><i class="fas fa-arrow-left"></i></a>
                <div class="img-group">
                    <i class="fas fa-circle"></i>
                    <img src="./images/uploads/avt1.jpg" alt="">
                </div>
                <div class="details">
                    <span>Anh Khoa</span>
                    <p>Đang hoạt động</p>
                </div>
            </header>
            <div class="chat-box" id="chat-box">

                <div class="chat guest">
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptatum recusandae aperiam,
                            rerum facilis impedit fugit ad quam qui provident, sunt quis. Harum quos quasi quo, error
                            quidem facilis rem.</p>
                    </div>
                </div>

                <div class="chat host">
                    <div class="details">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ab eveniet delectus ex,
                            ut dolor velit possimus architecto earum expedita quibusdam inventore numquam ad. Quisquam
                            et ipsum est ad eveniet!</p>
                    </div>
                </div>
                <div class="chat host">
                    <div class="details">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ab eveniet delectus ex,
                            ut dolor velit possimus architecto earum expedita quibusdam inventore numquam ad. Quisquam
                            et ipsum est ad eveniet!</p>
                    </div>
                </div>

            </div>
            <form action="#" class="typing-area">
                <input type="text" class="guest_id" name="guest_id" value="" hidden>
                <input type="text" name="message" class="input-field" placeholder="Aa..." autocomplete="off">
                <button><i class="fab fa-telegram-plane"></i></button>
            </form>
        </section>
    </div>
    <%- include('layouts/footer.ejs'); -%>