<%- include('layouts/header.ejs'); -%>
    <script src="./js/showPassword.js"></script>
    <div class="wrapper">
        <div class="form">
            <div class="form-title">Chat App</div>
            <form class="form-content" method="POST" action="./register" enctype="multipart/form-data">
                <% if (locals.error) { %>
                    <div class="error-text">
                        <%= locals.error %>
                    </div>
                    <%} %>
                        <div class="form-group">
                            <label for="">Họ tên</label>
                            <input type="text" placeholder="Nhập họ tên" name="name">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" placeholder="Nhập email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="">Mật khẩu</label>
                            <input type="password" placeholder="Nhập mật khẩu" name="password" id="password">
                            <i class="fas fa-eye" id="eye-1"></i>
                        </div>
                        <div class="form-group">
                            <label for="">Xác nhận mật khẩu</label>
                            <input type="password" placeholder="Nhập lại mật khẩu" name="password2"
                                id="password-confirm">
                            <i class="fas fa-eye" id="eye-2"></i>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="image">
                            <label class="custom-file-label" for="image">Chọn ảnh đại diện ...</label>
                        </div>
                        <button type="submit">Đăng Ký</button>
                        <div class="link">
                            Bạn đã có tài khoản ? <a href="./login">Đăng nhập</a>
                        </div>
            </form>
        </div>
    </div>
    <%- include("./layouts/footer.ejs") -%>